/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  background-image: url(../images/website.png);
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
    padding: 0;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 400px;
    width: 85.8%;
    align-content:center;
    margin-left: 105px;
    margin-top: 70px;
  margin-bottom: 20px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
    text-align: justify;
    margin-left: 250px;
    color: #fff;
    text-shadow: #ccc;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
}

.carousel-caption2 {
  z-index: 10;
    text-align: justify;
    margin-left: 250px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
    color: #fff;
}
.marketing .col-lg-4 p {
  margin-right: 20px;
  margin-left: 20px;
    color: #fff;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 0px 0; /* Space out the Bootstrap <hr> more */
    padding: 0;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
    margin-left: 50px;
}

.col-md-7 > p {
    margin-left: 50px;
}

.row-featurette {
    padding: 0;
}

.aboutus {
    float: left;
    width: 101.5%;
}

.aboutus h2 {
    margin-left: 50px;
    text-align: center;
}
.aboutus p {
    float: left;
    width: 40%;
    margin-left: 50px;
    text-align: justify;
    padding: 0;
}

.space {
    float: left;
    width: 10%;
}

.blogspot {
    float: left;
    width: 40%;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.blogspot p {
    margin-left: 20px;
}

.reviewcontent {
    background-color: #fff;
    width: 85.6%;
    height: 980px;
    margin-top: 72px;
    text-align: center;
    margin-left: 105px;
}

.testimonials {
    height: 460px;
}

.testimonials h2 {
    text-align: left;
    margin-top: 10px;
    padding: 0;
    border: 0;
    background-color: black;
    color: #fff;
}

.testimonials h3 {
    text-align: left;
    margin-left: 50px;
       padding: 0;
    border: 0;
}

.testimonials p {
    text-align: left;
    margin-left: 100px;
    width: 85%;
}

.fb-page {
    float: left;
    margin-left: 35px;
}

.commentplugin {
    float: left;
    padding: 0;
    height: 410px;
    overflow-y: scroll !important;
}


/* Contact */

section#contact h2 {
    text-align: left;
    margin-left: 50px;
       padding: 0;
    border: 0;
    width: 80%;
    
}

section#contact {
    background-color: #222;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 10px;
}

section#contact .section-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
    width: 94%;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}

/* Promos */

.promocontent {
    background-color: #fff;
    width: 85.6%;
    height: 2300px;
    margin-top: 72px;
    text-align: center;
    margin-left: 105px;
}

.packagescontent {
    background-color: #fff;
    width: 85.6%;
    height: 4500px;
    margin-top: 72px;
    text-align: center;
    margin-left: 105px;
}

.packscontent {
    background-color: #fff;
    width: 85.6%;
    height: 2300px;
    text-align: center;
    margin-left: 105px;
    margin-top: 50px;
}

.packscontent h2 {
    text-align: left;
    margin-top: 50px;
    padding: 0;
    border: 0;
    color: #fff;
    float: left;
    background-color: black;
    width: 100%;
}

.landpackagescontent {
    background-color: #fff;
    width: 85.6%;
    height: 4600px;
    margin-top: 72px;
    text-align: center;
    margin-left: 105px;
}

.landpackscontent {
    background-color: #fff;
    width: 85.6%;
    height: 2200px;
    text-align: center;
    margin-left: 105px;
    margin-top: 50px;
}

.landpackscontent h2 {
    text-align: left;
    margin-top: 50px;
    padding: 0;
    border: 0;
    color: #fff;
    float: left;
    background-color: black;
    width: 100%;
}

/* Air packages */

.airpackagescontent {
    background-color: #fff;
    width: 85.6%;
    height: 4600px;
    margin-top: 72px;
    text-align: center;
    margin-left: 105px;
}

.airpackscontent {
    background-color: #fff;
    width: 85.6%;
    height: 2200px;
    text-align: center;
    margin-left: 105px;
    margin-top: 50px;
}

.airpackscontent h2 {
    text-align: left;
    margin-top: 50px;
    padding: 0;
    border: 0;
    color: #fff;
    float: left;
    background-color: black;
    width: 100%;
}

.bookingcontent {
    background-color: #fff;
    width: 85.6%;
    height: 1000px;
    margin-top: 72px;
    text-align: center;
    margin-left: 105px;
}

.booking h2 {
    text-align: left;
    margin-top: 10px;
    padding: 0;
    border: 0;
    color: #fff;
    float: left;
    background-color: black;
    width: 100%;
}

/* outreach */

.outreachcontent {
    background-color: #fff;
    width: 85.6%;
    height: 1500px;
    margin-top: 72px;
    text-align: center;
    margin-left: 105px;
}

.outreachcontent h2 {
    text-align: left;
    margin-top: 10px;
    padding: 0;
    border: 0;
    color: #fff;
    float: left;
    background-color: black;
    width: 100%;
}
/* bus rental */


.busrentalcontent {
    background-color: #fff;
    width: 85.6%;
    height: 1000px;
    margin-top: 72px;
    text-align: center;
    margin-left: 105px;
}

.busrentalcontent h2 {
    text-align: left;
    margin-top: 10px;
    padding: 0;
    border: 0;
    color: #fff;
    float: left;
    background-color: black;
    width: 100%;
}
    
.packages {
    height: 460px;
}

.packages h2 {
    text-align: left;
    margin-top: 10px;
    padding: 0;
    border: 0;
    color: #fff;
    float: left;
    background-color: black;
    width: 100%;
}

.packages h3 {
    text-align: left;
    padding: 0;
    border: 0;
    float: left;
    margin-left: 40px;
}
.packages ul li p img {
    float: left;
    width: 50%;
}
.packages ul li p {
    text-align: left;
    float: left;
    width: 95%;
}

.packages ul {
    list-style-type: none;
}

.packages li {
    float: left;
}

/* land packages */

.landpackages {
    height: 460px;
}

.landpackages h2 {
    text-align: left;
    margin-top: 10px;
    padding: 0;
    border: 0;
    color: #fff;
    float: left;
    background-color: black;
    width: 100%;
}

.landpackages h3 {
    text-align: left;
    padding: 0;
    border: 0;
    float: left;
    margin-left: 40px;
}
.landpackages ul li p img {
    float: left;
    width: 50%;
}
.landpackages ul li p {
    text-align: left;
    float: left;
    width: 95%;
}

.landpackages ul {
    list-style-type: none;
}

.landpackages li {
    float: left;
}

/* air packages */

.airpackages {
    height: 460px;
}

.airpackages h2 {
    text-align: left;
    margin-top: 10px;
    padding: 0;
    border: 0;
    color: #fff;
    float: left;
    background-color: black;
    width: 100%;
}

.airpackages h3 {
    text-align: left;
    padding: 0;
    border: 0;
    float: left;
    margin-left: 40px;
}
.airpackages ul li p img {
    float: left;
    width: 50%;
}
.airpackages ul li p {
    text-align: left;
    float: left;
    width: 95%;
}

.airpackages ul {
    list-style-type: none;
}

.airpackages li {
    float: left;
}

/* packages */

/* Air packages */

.packagescontent {
    background-color: #fff;
    width: 85.6%;
    height: 1350px;
    margin-top: 72px;
    text-align: center;
    margin-left: 105px;
}

.packagescontent {
    background-color: #fff;
    width: 85.6%;
    height: 1350px;
    text-align: center;
    margin-left: 105px;
    margin-top: 50px;
}

.packagescontent h2 {
    text-align: left;
    margin-top: 50px;
    padding: 0;
    border: 0;
    color: #fff;
    float: left;
    background-color: black;
    width: 100%;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
