html {
	font-size: 20px;
    width: 100%;
    padding: 0;
}
body {
	background-color: #ccc;
	padding: 0px;
    margin-right: 20px;
    
}

.social {
    margin-top: 8px;
    float: left;
    list-style: none;
    text-align: right;
}

.social ul {
    list-style-type: none;
}
.social li {
    float: left;
}

.social a {
    float: left;
    text-decoration: none;
}


/* Wrapper */
.icon-button {
	background-color: white;
	border-radius: 1.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 1.0rem;
	height: 1.6rem;
	line-height: 1.6rem;
	margin: 0 2px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 1.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 1.6rem;
	height: 1.6rem;
	border-radius: 1.6rem;
	margin: -.8rem;
}
.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}
.linkedin span {
	background-color: #0274b3;
}
.instagram span {
	background-color: #a4785d;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 1.6rem;
	left: 0;
	line-height: 1.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 1.6rem;
	z-index: 10;
}
.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button .icon-instagram {
	color: #a4785d;
}
.icon-button .icon-linkedin {
	color: #0274b3;
}

.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-instagram,
.icon-button:hover .icon-linkedin   {
	color: white;
}

.instagram_round{ background:url(images/instagram-round.png) no-repeat; }

