/* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-bottom: 40px;
      color: #5a5a5a;
    background-image: url("../images/logo.png");
    }



    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position:absolute;
        float: left;
        margin-left: 480px;
        margin-top: 80px;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 20px;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {

    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
        width: 665px;
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    .navbar .nav > li {
        font-size: 18px;
        margin-top: 5px;
        
        
    }
    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 10px 10px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }

    .logo {
        margin-left: 100px;
    }

    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 0px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 100px;
      font-size: 70px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    width: 150px;
    }

    .carousel .item {
      height: 300px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      width: 1000px;
      height: 300px;
     
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }
    
    /*Adsense*/
    .adsense {
        margin-left: 50px;
        margin-top: 20px;
    }

    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
        
    }
    .marketing h2 {
      font-weight: normal;
    margin-left: 30px;
    }
    .marketing .span4 p {
   
    }
    .span4 > p {
        width: 200px;
        margin-left: 85px;
    }

    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 5px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 0px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: 0px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 0px;
    }
    .featurette-image.pull-right {
      margin-left: 0px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }
    
    .adsense {
        margin-left: 175px;
        margin-top: 20px;
    }
    

    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 300px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: 300px;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 300px;
      }
      .carousel img {
        width: 300px;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
        margin-left: 100px;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


#myCarousel {
    width: 1000px;
      height: 300px;

          margin-left: 100px;
}
    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

    .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {
          width: 1000px;
      height: 300px;
          float: left;
          margin-left: 175px;
      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;

      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 0px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }
    .mainbar, ul {
        margin-left: 100px;
    }

    .mainbar {
        margin-left: 100px;
    }
    .featurette > h2 {
        margin-left: 100px;
    }
    .featurette > p {
        margin-left: 100px;
        text-align: justify;
        width: 960px;
            
    }

.row1 {
    margin-left: 100px;
    margin-top: 20px;
    width: 1020px;
    height: 600px;
    
}

.col1 {
    width: 200px;
    float: left;
    margin-left: 70px;
}

.col2 {
    float: left;
    width: 300px;
}
.col3 {
    float: left;
    margin-left: 50px;
    width: 300px;
}

.tbl{
    width: 100%;
  margin-top: 80px;
  margin-left: 140px;
  margin-right: 100px;
  margin-bottom: 20px;
}

.footer {
    padding: 0;
    margin: 0;
    background-color: #171717;
    height: 30px;
    color: #fff;
    font-color: #fff;
    font-size: 12px;
    width: 1000px;
    margin-left: 90px;

}

.footer > a {
    font-color: #fff;
    font-size: 10px;
    float: left;
}

.navfooter {
    background-color: #4B95EC;
}

.navfooter > ul > li {
    list-style: none;
    float: left;    
    
}
.navfooter > ul > li > a > img {
    width: 30px;
    margin-right: 5px;
    float: left;
    display: inline;   
}

.navfooter > p {
    float: left;
    margin-right: 440px;
    margin-top: 5px;
    margin-left: 5px;
}

.amazon {
    margin-left: 110px;
}

.span4 > a > img {
    height: 200px;
    margin-top: 20px;
}
.span4 > a > img:hover {
    -webkit-transform: rotate(360deg) scale(1);
    	-moz-transform: rotate(360deg) scale(1);
    	-o-transform: rotate(360deg) scale(1);
    	-ms-transform: rotate(360deg) scale(1);
    	transform: rotate(360deg) scale(1.2);
}
.contact {
    width: 1000px;
    margin-left: 100px;
}

.contact > table {
    width: 1000px;
}
.contact > p> img {
    width: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.contact h2 {
    margin-left: 0px;   
}

.disclaimer > p {
    font-size: 10px;
    margin-left: 100px;
    padding: 0;
    
}

.ebay {
    margin-left: 150px;
}